.pio
.pioenvs
.vscode
include/common/settings/settings.h
include/common/settings/settings.h_backup
include/controller/settings/settings.h
include/controller/settings/settings.h_backup
include/sensor/settings/settings.h
include/sensor/settings/settings.h_backup
