body { padding-top: 50px; }

//@media screen and (min-width: 450px) {
//    body { padding-top: 100; }
//}

.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}